<%= form_with(model: @entity, local: true) do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
  
    <%= form.label :entity_type %>
    <%= form.text_field :entity_type %>
  
    <%= form.label :description %>
    <%= form.text_area :description %>
  
    <%= form.label :cover_image %>
    <%= form.file_field :cover_image %>
  
    <%= form.submit %>
<% end %>

<%= form_with(url: entities_path, method: :get, local: true) do |form| %>
  <%= form.label :search, 'Search:' %>
  <%= form.text_field :search, value: params[:search] %>
  <%= form.submit 'Search' %>
<% end %>

<%= paginate @entities %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= entity.name %></td>
        <td><%= entity.entity_type %></td>
        <td><%= entity.description %></td>
        <td><%= link_to 'Show', entity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
